$primaryColor: rgba(0, 0, 255, 0.5);
$secondaryColor: #222222;
$primaryFont: "Montserrat", sans-serif;
$lgScreen: 1200px;
$mdScreen: 900px;
$smScreen: 600px;
$xsScreen: 400px;
$boxShadow: 0 1px 1px 1px gray;
