@import "/styles/variables";

.auth {
  display: flex;
  padding: 8rem;
  &ImgContainer {
    width: 50%;
  }
  &Img {
    width: 100%;
    height: 100%;
  }
}
.container {
  width: 50%;
}
.formContainer {
  width: 60%;
  margin: 0 auto;
}
.form {
  &Header {
    font-weight: normal;
    font-size: 1.8rem;
    opacity: 0.5;
  }
}

.alternative {
  margin-top: 1rem;
  &Line {
    display: grid;
    grid-template-columns: 50% max-content 50%;
    column-gap: 4px;
    align-items: center;
    width: 100%;
    &::after {
      content: "";
      height: 1px;
      background: black;
      display: block;
    }
    &::before {
      content: "";
      height: 1px;
      background: black;
      display: block;
    }
  }
}
