.nav {
  height: 4rem;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 3rem;
  box-shadow: 0 0.5px grey;

  &Links {
    list-style: none;
    display: flex;
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  &Link {
    margin: 0 0.5rem;
    cursor: pointer;
    padding: 0 2rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all 0.4s;
    &:hover {
      background: rgba(128, 128, 128, 0.3);
    }
    svg {
      font-size: 2rem;
    }
  }
}
