.nav {
  height: 4rem;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 3rem;
  box-shadow: 0 0.5px grey;

  &Links {
    list-style: none;
    display: flex;
    align-self: stretch;
    display: flex;
    align-items: center;
  }
}
