@import "../../../styles/variables";
.btn {
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: $primaryColor;
  color: white;
  font-size: 1.2rem;
  border: 4px;
  margin: 0.4rem 0;
  transition: all 0.4s;

  &:hover {
    background: darken($primaryColor, 10%);
  }
}
